$body-font: 'Source Sans Pro', sans-serif;
$body-background-color: #1e1e40;
$body-text-white: rgba(255, 255, 255, .94);
$body-text-black: rgba(0, 0, 0, .54);

$font-heading-color: rgba(255, 255, 255, .93);

$coz-dark: #2B2B5E;

$coz-primary: #2a43c1;
$coz-primary-light: lighten($coz-primary, 10%);
$coz-primary-dark: darken($coz-primary, 10%);

$neo-green: #58bf00;
$coz-yellow: #e8ff00;

$coz-blue: #4598ff;
$coz-blue-light: lighten($coz-blue, 10%);
$coz-blue-dark: darken($coz-blue, 10%);

$coz-dark-blue: #191d49;
$coz-dark-blue-light: lighten($coz-dark-blue, 10%);
$coz-dark-blue-dark: darken($coz-dark-blue, 5%);

$success-green: #58BF00;
$success-green-light: lighten($success-green, 10%);
$success-green-dark: darken($success-green, 10%);

$warning-orange: #FFBB39;
$warning-orange-light: lighten($warning-orange, 10%);
$warning-orange-dark: darken($warning-orange, 10%);

$warning-orange: #FFBB39;
$warning-orange-light: lighten($warning-orange, 10%);
$warning-orange-dark: darken($warning-orange, 10%);

$danger-red: #FF6479;
$danger-red-light: lighten($danger-red, 10%);
$danger-red-dark: darken($danger-red, 10%);

$info-blue: #3CBDE8;
$info-blue-light: lighten($info-blue, 10%);
$info-blue-dark: darken($info-blue, 10%);

$grey: #868B96;
$grey-light: lighten($grey, 5%);
$grey-dark: darken($grey, 5%);

$darker-grey: #52575E;
$darker-grey-light: lighten($darker-grey, 5%);
$darker-grey-dark: darken($darker-grey, 5%);

$light-grey: #E1E4E7;

$panel-background-color: rgba(49, 49, 100, 0.85);
$panel-heading-text: rgba(255, 255, 255, .93);

