$body-background-color: #30333a;
$side-background-color: #23252c;
$nav-background-color: #22232a;

$body-text-white: rgba(255, 255, 255, .54);

$coz-primary: #4598ff;
$coz-primary-light: lighten(#4598ff, 10%);
$coz-primary-dark: darken(#4598ff, 10%);

$coz-blue: #2a43c1;
$coz-blue-light: lighten($coz-blue, 10%);
$coz-blue-dark: darken($coz-blue, 10%);
  