.resources {
  position: relative;
}

.resources .accent {
  background-image: linear-gradient(to right, #4598FF, #2A43C1);
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  right: 50px;
  z-index: 1;
}

.resources .wrapper {
  padding: 50px 0 0;
  position: relative;
  overflow: hidden;
}

.resources .wrapper:after {
  content: "";
  width: 0;
  height: 0;
  margin-left: -50px;
  position: absolute;
  top: 0;
  left: 100%;
  border: 25px solid #2B2B5E;
  border-right: 25px solid transparent;
  border-top: 25px solid transparent;
}

.resources .wrapper:before {
  content: "";
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
  right: 50px;
  background: #2B2B5E;
}

.resources .container {
  padding: 0 0 80px;
  background: #2B2B5E url('/assets/images/resources-bg.png') bottom right no-repeat;
}

.resources .subtitle {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 40px;
}

@media screen and (min-width: 450px) {
  .resources .subtitle {
    max-width: 85%;
  }
}

.resources hr {
  height: 4px;
  width: 225px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  margin: 50px 0;
}

.resources .socialList {
  font-family: orbitron, sans-serif;
}

.resources .socialList h2,
.resources .socialList p {
  margin: 0;
}
.resources .socialList h2 {
  text-transform: uppercase;
  font-size: 17px;
}

.resources .socialList p {
  font-size: 12px;
}

.resources .socialList a {
  color: #fff;
  text-decoration: none;
}

.resources .socialList .itemContent {
  overflow: hidden;
  padding-top: 26px;
}

.resources .socialList img {
  float: left;
  margin-right: 10px;
}

.resources .license,
.resources .pullRequest,
.resources .testNet {
  margin: 0;
}

.resources .license,
.resources .pullRequest {
  font-size: 20px;
}

.resources .license {
  font-weight: bold;
}

.resources .pullRequest {
  margin-bottom: 20px;
}

.resources .testNet {
  font-size: 13px;
  font-style: italic;
  max-width: 85%;
}
